@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
html,body
{
	color: #3F3F3F;
	font-family: 'Roboto Slab', serif !important;
	background-color: #BDBDBD!important;
}

.form-control
{
	margin-bottom: 15px;
}

.w-100
{
	margin: 0 !important;
}

.card-content{
	padding: 2em 5em 3em 5em!important;
	-moz-box-shadow: 0 8px 28px 0 rgba(0, 0, 0, 0.09);
	-webkit-box-shadow: 0 5px 28px 0 rgba(0, 0, 0, 0.09);
	box-shadow: 0 5px 28px 0 rgba(0, 0, 0, 0.09);
	border: none!important;
	background-color: #00BCD4!important;
}

.card-table{
	padding: 1em 3em 1em 3em!important;
	-moz-box-shadow: 0 8px 28px 0 rgba(0, 0, 0, 0.09);
	-webkit-box-shadow: 0 5px 28px 0 rgba(0, 0, 0, 0.09);
	box-shadow: 0 5px 28px 0 rgba(0, 0, 0, 0.09);
	border: none!important;
	background-color:#CEF6F5 !important;
}

.titulo_lista
{
	background-color: #00BCD4!important;
}

.titulo_data_table
{
	font-weight:bold;
}

.table
{
	border: none!important;
	width: 1140px!important;
	font-size: 13px;
	align-content: center;
}

.ocultar
{
	display:none;
}

.primerafila
{
		background-color: #CEECF5!important;
}
.ingresar
{
	width: 30px!important;
	height: 30px!important;
}
.prueba:hover
{
	background-color: red;
}
